<h2>Sign Up</h2>
<form action="/signup" method="POST">	
  <p>
    <label for='email'>Email</label>
    <input id='email' name='email' type='email' placeholder='example@gmail.com'>
  </p>
  <p>
    <label for='username'>Username</label>
    <input id='username' name='username' type='username' placeholder='Jon Snow'>
  </p>
	<p>
    <label for='password'>Password</label>
    <input id='password' name='password' type='password' placeholder='Winter is Coming'>
  </p>
	<input type='submit' value='SignUp'>
</form>
