<body>

<div class="contenedor-1">
  <div class="text-contenedor-1" >
      <h1>¿Estas cansado del transporte publico?</h1>
      <p>Auto sardina es la solucion, nosotros nos aseguramos de que tu seguridad, comodidad, privacidad se mantengan a salvo viajando con nosotros y al mismo tiempo salvas al planeta disminuyendo el trafico y</p> 
      <a href="/login">Dale !</a>
  </div>
</div>
<div class="contenedor-2" >
   <h2>Benefis</h2>
  <div class="contenedor-columnas">
<div class="columna">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbFDwNXOUF4-5GWEIyYyL0tY2zWr4iD2Yt1FMRsVZ4JtFq8DUD" alt="">
  <h3>Comfort</h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum temporibus voluptatum beatae tenetur dicta vel dolorem in ducimus, repellendus iure asperiores at porro perferendis et! Voluptates iste esse cum inventore!</p>
</div>
<div class="columna">
  <img src="https://www.invario.net/wp-content/uploads/2018/07/GDPR2.png" alt="">
  <h3>Security</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores incidunt omnis, maiores eius commodi veniam voluptatem. Vitae aspernatur numquam, quia asperiores nesciunt architecto labore molestias, culpa temporibus illo suscipit!</p>
</div>
<div class="columna">
  <img src="https://www.limontasport.com/wp-content/uploads/2016/04/logo-ambiente-sicurezza-2.png" alt="">
  <h3>Ecologist</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga a veritatis rerum eveniet, quos aspernatur culpa reprehenderit aliquam dolorem aperiam enim velit ad ipsam incidunt alias sequi quasi repudiandae officiis.</p>
</div>
</div>
</div>
<div class="contenedor-3" >
  <h2>Partners</h2>
  <div class="contenedor-columnas">
<div class="columna">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/GoogleMaps_logo.svg/245px-GoogleMaps_logo.svg.png" alt="">
  <h3>Google maps</h3>
</div>
<div class="columna">
  <img src="https://www.logolynx.com/images/logolynx/d5/d58876ad69822ce52f7a4f0f933e78dd.png" alt="">
  <h3>Wework</h3>
</div>
<div class="columna">
  <img src="https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-png-transparent.png" alt="">
  <h3>Github</h3>
</div>
</div>
</div>

<div class="contenedor-4" >
  <div class="contenedor-columnas">
<div class="columna">
  <h4>Colaborations</h4>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li> 
</div>
<div class="columna">
  <h4>About Irvin</h4>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li> 
</div>
<div class="columna">
  <h4>About Cris</h4>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li> 
</div>
<div class="columna">
  <h4>Contacts</h4>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
  <li>rgrewgs</li>
</div>
</div>
</div>


  
</body>



